Pipfile*
db.sqlite3
.idea
.DS_Store
*.pyc
__pycache__
.env
*.orig
build
dist
*.egg-info
src/django_oapif/__version__.py

tests/benchmark/results

src/tests/fixtures/polygon_2056_10fields.json.gz
src/tests/fixtures/polygon_2056_10fields_local_geom.json.gz

data
static
media
test_outputs
.vscode/
.python-version
