Pipfile*
db.sqlite3
.idea
.DS_Store
*.pyc
__pycache__
.env
*.orig
build
dist
*.egg-info
django_oapif/core/__version__.py

docs/site

tests/benchmark/output
tests/output
tests/django_oapif_tests/tests/fixtures/polygon_2056.json.gz
tests/django_oapif_tests/tests/fixtures/polygon_2056_local_geom.json.gz

data
static
media
.vscode/
.python-version
