Pipfile*
db.sqlite3
.idea
.DS_Store
*.pyc
__pycache__
tests/.env
*.orig
build
dist
*.egg-info
src/core/__version__.py

tests/benchmark/results

tests/django_oapif_tests/tests/fixtures/polygon_2056.json.gz
tests/django_oapif_tests/tests/fixtures/polygon_2056_local_geom.json.gz

data
static
media
test_outputs
.vscode/
.python-version
