site_name: Django-OAPIF
site_url:
site_author: OPENGIS.ch

docs_dir: content

# Repository
repo_name: opengisch/django-oapif
repo_url: https://github.com/opengisch/django-oapif
edit_uri: https://github.com/opengisch/django-oapif/tree/main/docs/content/

# Copyright
copyright: Copyright &copy; 2023-2024 <a href="https://OPENGIS.ch">OPENGIS.ch</a>

# Configuration
theme:
  name: material
  language: en
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.tracking
    - search.suggest
    - search.highlight
  #logo: assets/images/oapif_logo.png
  #favicon: assets/images/favicon.ico
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      primary: grey
      toggle:
        icon: material/brightness-auto
        name: Light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: grey
      toggle:
        icon: material/brightness-7
        name: Dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: grey
      toggle:
        icon: material/brightness-4
        name: System default

nav:
  - Home: index.md
  - Quick start: quick-start.md
  - Demo: demo.md
  - API: api.md
  - Permissions: permissions.md
  - Test and conformance: tests.md

extra:
  # Remove "Made with Material for MkDocs" from footer
  generator: false

markdown_extensions:
  - attr_list
  - md_in_html
  #- fancyboxmd
  - sane_lists
  - admonition
  - codehilite
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - toc:
      permalink: "#"
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true

plugins:
  - search
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_section_style: list
            line_length: 80
            merge_init_into_class: true
            separate_signature: true
            signature_crossrefs: true
            show_source: false
            show_root_heading: true
            show_signature_annotations: true
            show_object_full_path: false
