name: Test

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
      COMPOSE_DOCKER_CLI_BUILD: 1

    steps:
    - uses: actions/checkout@v6

    - name: Create env
      run: cp .env.example .env

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Setup Compose
      run: |
        docker compose --profile testing_integration up --build -d

        docker compose exec django python manage.py migrate --no-input
        docker compose exec django python manage.py populate_users
        docker compose exec django python manage.py populate_data

    - name: Run unit tests
      run: docker compose exec django python manage.py test

    - name: Run integration tests
      run: docker compose run integration_tests

    - name: Failure logs
      if: failure()
      run: docker compose logs
